{{#if menu}}
<div class="row" style="margin-top: 3rem;">
    <div class="col">
    	<div class="tabExpand bg-info">
    		<i class="fa fa-bars" style="margin: 1rem;"></i>
    	</div>
    </div>
    <!-- <div class="col-8">
        <h3 style="margin-bottom: 1.3rem;/*margin-right: 1rem;*//*margin-left: 1rem;*/margin-top: 1rem;text-align: center;">Unfinished assignments<span style="float: right;"></span></h3>
        <p style="text-align: center;font-size: 1.5rem;">Science</p>
    </div> -->
</div>

<div class="bg-info tabExpand" style="position: absolute;z-index: 1000; top: 95px; height: calc(100vh - 95px);">
    <ul class="nav navbar-nav mx-3" style="font-size: 24px;">
    	<li class="nav-item">Home</li>
    	<li class="nav-item">My Planner</li>
    	<li class="nav-item">Settings</li>
    </ul>
</div>
{{/if}}