<div id="k1" class="mx-2 d-flex keyboard justify-content-center">
        <div class="letter">q</div>
        <div class="letter">w</div>
        <div class="letter">e</div>
        <div class="letter">r</div>
        <div class="letter">t</div>
        <div class="letter">y</div>
        <div class="letter">u</div>
        <div class="letter">i</div>
        <div class="letter">o</div>
        <div class="letter lastitem">p</div>
</div>

<div id="k2" class="mx-2 d-flex keyboard justify-content-center">
        <div class="letter">a</div>
        <div class="letter">s</div>
        <div class="letter">d</div>
        <div class="letter">f</div>
        <div class="letter">g</div>
        <div class="letter">h</div>
        <div class="letter">j</div>
        <div class="letter">k</div>
        <div class="letter lastitem">l</div>
    <br>
</div>

<div id="k3" class="d-flex keyboard justify-content-center">
        <div class="special caps"><i class="fa fa-sort-up" style="font-size: 24px; margin-top: 8px;"></i></div>
        <div class="letter">z</div>
        <div class="letter">x</div>
        <div class="letter">c</div>
        <div class="letter">v</div>
        <div class="letter">b</div>
        <div class="letter">n</div>
        <div class="letter">m</div>
        <div class="symbol special lastitem delete"><i class="fa fa-window-close"></i></div>
    <br>
</div>

<div id="k4" class="mx-5 d-flex keyboard justify-content-center">
        <div class="" style="letter-spacing: 0.07rem; width: calc(100% / 10);min-width: 50px;">123</div>
        <div class="space">&nbsp;</div>
        <div class="return lastitem">return</div>
    <br>
</div>