@keyframes sleep {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(10px);
    }
}

.sleep > div {
   position: absolute;
   bottom: -5px;
   font-size: 1.8rem;
   color: black;
   z-index: -1;
   transition: all 1s ease-out;
}
 .sleep > div:nth-child(1) {
   transform: translate(10px, 10px);
   animation: zzz 5s 3s ease-in-out infinite;
   left: -40px;
}
 .sleep > div:nth-child(2) {
   transform: translate(10px, 10px);
   animation: zzz 5s 6s ease-in-out infinite;
   left: -20px;
}
.sleep > div:nth-child(3) {
   transform: translate(10px, 10px);
   animation: zzz 5s 9s ease-in-out infinite;
   left: 0px;
}
 .sleep > div:nth-child(4) {
   transform: translate(10px, 10px);
   animation: zzz 4.5s 8s ease-in-out infinite;
}
 .sleep > div:nth-child(5) {
   transform: translate(10px, 10px);
   animation: zzz 4.5s 10s ease-in-out infinite;
}
.sleep > div:nth-child(6) {
   transform: translate(10px, 10px);
   animation: zzz 4.5s 12s ease-in-out infinite;
}
 

@keyframes zzz {   
    0% {
        transform: translate(10px, 10px);
        opacity: 1;        
      }
      100% {
        transform: translate(10px, -240px);
        z-index: 1;        
        opacity: 0;
      }
}    

@keyframes tail {
   0% {
     transform: rotate(0deg);
  }
   0% {
     transform: rotate(10deg);
  }
   0% {
     transform: rotate(-5deg);
  }
   0% {
     transform: rotate(30deg);
  }
   0% {
     transform: rotate(-2deg);
  }
   0% {
     transform: rotate(10deg);
  }
   0% {
     transform: rotate(-5deg);
  }
   0% {
     transform: rotate(10deg);
  }0% {
     transform: rotate(30deg);
  }
  50% {
     transform: rotate(10deg);
  }
}
 @keyframes body {
   0% {
     transform: scaleY(1);
  }
   0% {
     transform: scaleY(1.15);
  }
   0% {
     transform: scaleY(1);
  }
   0% {
     transform: scaleY(1.25);
  }
   0% {
     transform: scaleY(1);
  }
   0% {
     transform: scaleY(1.15);
  }
   0% {
     transform: scaleY(1);
  }
   0% {
     transform: scaleY(1.15);
  }
}
 @keyframes left-whisker {
   0% {
     transform: rotate(0);
  }
   0% {
     transform: rotate(0deg);
  }
   0% {
     transform: rotate(-5deg);
  }
   0% {
     transform: rotate(0deg);
  }
   0% {
     transform: rotate(0deg);
  }
   0% {
     transform: rotate(10deg);
  }
   0% {
     transform: rotate(-5deg);
  }
   0% {
     transform: rotate(10deg);
  }
}
 @keyframes right-whisker {
   0% {
     transform: rotate(180deg);
  }
   0% {
     transform: rotate(190deg);
  }
   0% {
     transform: rotate(180deg);
  }
   0% {
     transform: rotate(175deg);
  }
   0% {
     transform: rotate(190deg);
  }
   0% {
     transform: rotate(180deg);
  }
   0% {
     transform: rotate(185deg);
  }
   0% {
     transform: rotate(175deg);
  }
}
 @keyframes left-ear {
   0% {
     transform: rotate(-20deg);
  }
   0% {
     transform: rotate(-6deg);
  }
   0% {
     transform: rotate(-15deg);
  }
   0% {
     transform: rotate(-15deg);
  }
   0% {
     transform: rotate(-30deg);
  }
   0% {
     transform: rotate(-30deg);
  }
   0% {
     transform: rotate(0deg);
  }
   0% {
     transform: rotate(0deg);
  }
   0% {
     transform: rotate(-15deg);
  }
   0% {
     transform: rotate(-15deg);
  }
   0% {
     transform: rotate(-6deg);
  }
   0% {
     transform: rotateZ(-6deg);
  }
}
 @keyframes right-ear {
   0% {
     transform: rotateZ(-16deg);
  }
   0% {
     transform: rotateZ(-16deg);
  }
   0% {
     transform: rotateZ(-19deg);
  }
   0% {
     transform: rotateZ(-19deg);
  }
   0% {
     transform: rotateZ(-30deg);
  }
   0% {
     transform: rotateZ(-19deg);
  }
   0% {
     transform: rotateZ(-30deg);
  }
   0% {
     transform: rotateZ(-19deg);
  }
   0% {
     transform: rotateZ(-19deg);
  }
   0% {
     transform: rotateZ(-30deg);
  }
   0% {
     transform: rotateZ(-19deg);
  }
   0% {
     transform: rotateZ(-9deg);
  }
   0% {
     transform: rotateZ(-9deg);
  }
   0% {
     transform: rotateZ(-19deg);
  }
   0% {
     transform: rotateZ(-30deg);
  }
   0% {
     transform: rotateZ(-19deg);
  }
   0% {
     transform: rotateZ(-19deg);
  }
   0% {
     transform: rotateZ(-30deg);
  }
   0% {
     transform: rotateZ(-19deg);
  }
   0% {
     transform: rotateZ(-19deg);
  }
   0% {
     transform: rotateZ(-16deg);
  }
   0% {
     transform: rotateZ(-16deg);
  }
}

 .main {
   height: 150px;
   width: 200px;
   position: absolute;
   top: calc(95% - 140px);
   right: 1rem;
}

.main:hover {
  cursor: pointer;
}

 .main .stand {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%);
   height: 20px;
   width: 200px;
   border-radius: 20px;
   background-color: #fd6e72;
   z-index: 2;
}

 .main .cat {
   width: 110px;
   height: 50px;
   position: absolute;
   top: calc(50% - 50px);
   left: calc(50% - 40px);
   border-top-left-radius: 100px;
   border-top-right-radius: 100px;
}
 .main .cat .body {
   width: 110px;
   height: 50px;
   background-color: #745260;
   position: absolute;
   border-top-left-radius: 100px;
   border-top-right-radius: 100px;
   animation: body 12s none infinite;
}
 .main .cat .head {
   content: "";
   width: 70px;
   height: 35px;
   background-color: #745260;
   position: absolute;
   top: calc(50% - 10px);
   left: -40px;
   border-top-left-radius: 80px;
   border-top-right-radius: 80px;
}
 .tail-container {
   position: absolute;
   right: 0;
   bottom: -13px;
   z-index: 3;
}
 .tail {
   position: absolute;
   height: 30px;
   width: 14px;
   bottom: -10px;
   right: 0;
   border-bottom-right-radius: 5px;
   background: #745260;
   z-index: 0;
}
 .tail > .tail {
   animation: tail 6s none infinite;
   height: 100%;
   width: 14px;
   transform-origin: left;
   border-bottom-left-radius: 20px 20px;
   border-bottom-right-radius: 20px 20px;
   border-top-right-radius: 40px;
}
 .ear {
   position: absolute;
   left: 4px;
   top: -4px;
   width: 0;
   height: 0;
   border-left: 12px solid transparent;
   border-right: 12px solid transparent;
   border-bottom: 20px solid #745260;
   transform: rotate(-30deg);
   animation: left-ear 12s both infinite;
}
 .ear + .ear {
   animation: right-ear 12s both infinite;
   top: -12px;
   left: 30px;
}

.eyes {
  position: absolute;
}

.eyes > div {
  position: absolute;
  height: 10px;
  width: 10px;
}

.eyes > div:nth-child(1) {
  top: 25px;
  left: -21px;
  /*border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;*/
  border-radius: 90%;
  border-top: white solid 2px;
}
.eyes > div:nth-child(2) {
  top: 25px;
  left: -5px;
  border-radius: 90%;
  border-top: white solid 2px;
}

/*.pupil {
  background-color: black;
  height: 6.8px;
  width: 3.3px;
  border-radius: 50%;
  z-index: 999;
}

.pupil:nth-child(1) {
  margin-top: 1.7px;
  margin-left: 3px;
}
.pupil:nth-child(2) {
  margin-top: 5px;
  margin-left: 3px;
}*/

 .nose {
   position: absolute;
   bottom: 10px;
   left: -10px;
   background-color: #fd6e72;
   height: 5px;
   width: 5px;
   border-radius: 50%;
}
 .whisker-container {
    z-index: 9999;
   position: absolute;
   bottom: 5px;
   left: -36px;
   width: 20px;
   height: 10px;
   transform-origin: right;
   animation: left-whisker 12s both infinite;
}
 .whisker-container:nth-child(3) {
   left: -20px;
   bottom: 12px;
   transform-origin: right;
   transform: rotate(180deg);
   animation: right-whisker 12s both infinite;
}
 .whisker {
   position: absolute;
   top: 0;
   width: 100%;
   border: 1px solid #fdf9de;
   transform-origin: 100% 0;
   transform: rotate(10deg);
}
 .whisker:last-child {
   top: 0;
   transform: rotate(-20deg);
}
 